* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #202020;
    --red: #f0141e;
    --red-dark: #4D1518;
    --dark-blue: #1E2639;
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media (max-width: 720){
    html{
        font-size: 87.5%;
    }
}

body{
    background: var(--black);
}

body, input, textarea, button {
    font: 500 1rem Inter, sans-serif;
    color: var(--gray-500);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: Lexend sans-serif;
    color: var(--gray-800);
}

h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}

.checked{    
    background: #181733;
    opacity:0.6;
}

