.cardContainer{
    height: 25rem;
    width: 14rem;

    background: var(--black);

    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    //box-shadow: 3px 7px 3px 3px rgb(0 0 0 / 15%)
}